.root {
    -fx-background-image: url("../images/xmas-background.jpg");
}

.chart-bar {
    /*-fx-background-color: rgba(0,168,355,0.05);*/
    -fx-border-color: rgba(0,168,355,0.3) rgba(0,168,355,0.3) transparent rgba(0,168,355,0.3);
    -fx-background-radius: 0;
    -fx-background-position: left center;
    -fx-background-image: url("../images/santa.png");
    -fx-background-size: contain;
}

.chart-plot-background {
    -fx-background-color: rgba(0,0,0,0);
}

.chart {
    -fx-background-color: rgba(0,0,0,0);
}

.chart-content {
    -fx-background-color: rgba(0,0,0,0);
}

.data0.chart-bar {
    -fx-bar-fill: blue;
}

.data1.chart-bar {
    -fx-bar-fill: green
}

.data2.chart-bar {
    -fx-bar-fill: orange
}

.data3.chart-bar {
    -fx-bar-fill: red
}

.data4.chart-bar {
    -fx-bar-fill: yellow
}

.data5.chart-bar {
    -fx-bar-fill: blue
}

.data6.chart-bar {
    -fx-bar-fill: green
}

.data7.chart-bar {
    -fx-bar-fill: orange
}

.data8.chart-bar {
    -fx-bar-fill: red
}

.data9.chart-bar {
    -fx-bar-fill: yellow
}

.chart-legend {
    -fx-opacity: 0;
}